<footer class="border-t border-brand-primary">
  <div class="container-page flex flex-col md:flex-row gap-1 md:gap-0 md:items-center md:justify-between">

    <!-- LEFT -->
    <!-- <div>
      <p class="text-lg font-semibold shadow-text-gradiant">
        Safynaz Ibrahim
      </p>
      <p class="text-sm text-slate-900 dark:text-slate-100 mt-1">
        Frontend Angular Developer
      </p>
    </div> -->

    <!-- RIGHT -->
    <!-- <div class="flex items-center gap-4">
      <a
        href="https://github.com/yourusername"
        target="_blank"
        class="text-slate-500 hover:text-brand-primary transition-colors"
        aria-label="GitHub"
      >
        <i class="pi pi-github text-xl"></i>
      </a>

      <a
        href="https://linkedin.com/in/yourusername"
        target="_blank"
        class="text-slate-500 hover:text-brand-primary transition-colors"
        aria-label="LinkedIn"
      >
        <i class="pi pi-linkedin text-xl"></i>
      </a>

      <a
        href="mailto:safynazibrahim4@gmail.com"
        class="text-slate-500 hover:text-brand-primary transition-colors"
        aria-label="Email"
      >
        <i class="pi pi-envelope text-xl"></i>
      </a>
    </div> -->

  </div>

  <!-- BOTTOM -->
  <div class="text-center font-semibold text-sm text-slate-900 dark:text-slate-100 p-4">
    © {{ currentYear }} Safynaz Ibrahim. All rights reserved.
  </div>
</footer>
