<section id="home" class="relative section-screen flex items-center">
  <!-- MAIN CONTENT -->
  <div
    class="container-page grid grid-cols-1 md:grid-cols-2 md:gap-14 items-center"
  >
    <!-- ================= LEFT: TEXT CONTENT ================= -->
    <div
      [@textEnter]="animationState"
      class="space-y-3 sm:space-y-6 md:space-y-8 text-center md:text-left order-2 md:order-1 mt-4 sm:mt-6 md:mt-0"
    >
      <!-- Greeting -->
      <p class="text-2xl font-bold uppercase">Hello, I’m</p>

      <!-- Name -->
      <h1 class="text-4xl sm:text-5xl font-extrabold leading-tight">
        <span class="title-gradient">Safynaz Ibrahim</span>
      </h1>

      <!-- Role -->
      <p class="text-xl font-semibold text-slate-600 font-mono">
        &gt; {{ displayedText
        }}<span class="text-brand-primary animate-pulse"> |</span>
      </p>

      <!-- Short Description -->
      <p class="max-w-xl text-slate-500 font-medium leading-relaxed">
        Frontend Web Developer focused on building clean, responsive, and
        scalable user interfaces with great user experience by using Angular.
      </p>

      <!-- Buttons -->
      <div
        class="flex flex-col sm:flex-row items-center gap-4 justify-center md:justify-start"
      >
        <a
          href="assets/safynaz-ibrahim-cv.pdf"
          download
          class="btn-primary"
        >
          Download CV
        </a>

        <a
          routerLink="/"
          fragment="projects"
          class="btn-secondary cursor-pointer"
        >
          View My Work
        </a>
      </div>

      <!-- Social Links -->
      <div class="flex items-center gap-5 justify-center md:justify-start pt-4">
        <a
          href="https://github.com/Safynazibrahim"
          target="_blank"
          aria-label="GitHub"
          class="flex items-center justify-center glass-surface w-10 h-10 rounded-full"
        >
          <i class="pi pi-github"></i>
        </a>

        <a
          href="https://www.linkedin.com/in/safynaz-ibrahim-49a437233?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app"
          target="_blank"
          aria-label="LinkedIn"
          class="flex items-center justify-center glass-surface w-10 h-10 rounded-full"
        >
          <i class="pi pi-linkedin"></i>
        </a>

        <a
          href="mailto:safynazibrahim4@gmail.com"
          aria-label="Email"
          class="flex items-center justify-center glass-surface w-10 h-10 rounded-full"
        >
          <i class="pi pi-envelope"></i>
        </a>
      </div>
    </div>

    <!-- ================= RIGHT: IMAGE ================= -->
    <div
      [@imageEnterDesktop]="!isMobile ? animationState : null"
      [@imageEnterMobile]="isMobile ? animationState : null"
      class="relative flex justify-center order-1 md:order-2"
    >
      <!-- Image -->
      <div
        class="rounded-full overflow-hidden border-[5px] border-brand-primary"
      >
        <img
          src="../../../assets/photo_2026-01-24_21-20-15.jpg"
          alt="Safynaz Ibrahim"
          class="w-48 h-48 sm:w-64 sm:h-64 lg:w-80 lg:h-80 rounded-full object-cover transition-transform duration-500 ease-out hover:scale-110 hover:brightness-105"
        />
        <!-- Availability Badge -->
        <div
          class="absolute bottom-0 left-1/2 -translate-x-1/2 glass-surface p-2 w-[150px] text-sm flex justify-center items-center gap-1"
        >
          <span class="w-2 h-2 bg-green-500 rounded-full"></span>
          <span>Available for hire</span>
        </div>
      </div>
    </div>
  </div>

  <!-- ================= SCROLL INDICATOR ================= -->
  <div
    class="absolute -bottom-10 sm:bottom-0 md:bottom-20 left-1/2 -translate-x-1/2 flex flex-col gap-2 items-center text-slate-500"
  >
    <span class="text-xs sm:text-sm">Scroll to explore</span>
    <i class="pi pi-arrow-down animate-bounce text-lg sm:text-xl"></i>
  </div>
</section>

<section id="about" class="section-screen">
  <app-about></app-about>
</section>

<section id="skills" class="section-screen">
  <app-skills></app-skills>
</section>

<section id="experience" class="section-screen">
  <app-experience></app-experience>
</section>

<section id="projects" class="section-screen">
  <app-projects></app-projects>
</section>

<section id="contact" class="section-screen">
  <app-contact></app-contact>
</section>
